/* Common styles for both login and signup components */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-control {
  margin-bottom: 15px;
  text-align: left;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-btn {
  /* width: 100%; */
  /* padding: 10px; */
  /* background-color: #007bff; */
  border: none;
  /* border-radius: 5px; */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-btn:hover {
  background-color: #0056b3;
}

.connecting-para {
  margin-top: 20px;
  color: #777;
  text-align: center;
  color: black;
}

.connecting-para a {
  /* color: #007bff; */
  text-decoration: none;
}

.connecting-para a:hover {
  text-decoration: underline;
}

.error-message {
  margin-top: 10px; /* Add some space above the error message */
  padding: 10px;
  border-radius: 4px;
  color: #dc3545; /* Red color for error */
  background-color: #f8d7da; /* Light red background */
}

.loading-overlay {
  position: absolute; /* Overlaps the content below */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Fills the entire container */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex; /* Center the content horizontally and vertically */
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure the overlay is on top of other elements */
}

.loading-overlay p {
  color: green; /* White text for better visibility */
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold;
}
